/* 
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; 
*/

:root {
  --branding-color: #6c63ff;
  --primary-color: #f9f7fe;
  --default-font-color: #272142;
  --header-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--header-font-family);
  font-weight: bold;
}

h2 {
  font-size: 64px;
  line-height: 85px;
}

.hero {
  text-align: center;
  background-color: var(--primary-color);
  padding: 160px 20px;
}

.hero p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  color: var(--default-font-color);
}

.featured {
  font-size: 18px;
}

.btn-branding {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  background-color: var(--branding-color);
  padding: 18px 30px;
  line-height: 27px;
  text-decoration: none;
}

.btn-branding:hover {
  background-color: var(--primary-color);
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.btn-branding-outline {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  background-color: var(--primary-colorcolor);
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 18px 30px;
  line-height: 27px;
  text-decoration: none;
}

.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: var(--primary-color);
}

.project-description {
  padding: 120px 60px;
}

.project-description p {
  line-height: 30px;
  opacity: 70%;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
}

.about-description {
  font-family: var(--default-font-family);
  font-size: 18px;
}

.about-section p {
  font-size: 18px;
  opacity: 70%;
  line-height: 30px;
}

img {
  border-radius: 20px;
  width: 350px;
  height: 520px;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 60px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero {
    padding: 80px 10px;
  }

  .hero p {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .container {
    margin-top: 0px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  h2 {
    font-size: 35px;
  }

  .about-section {
    text-align: center;
    padding: 160px 20px;
  }

  .about-description {
    font-size: 17px;
  }

  img {
    width: 350px;
    height: 500px;
  }
}
